@model RyhmaHauMauMVC.Models.Kayttaja

@{
    ViewData["Title"] = "Rekisteröidy";
}

<h1>Luo uusi käyttäjä</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Uusi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sahkoposti" class="control-label">Sähköposti</label>
                <input asp-for="Sahkoposti" class="form-control" />
                <small id="emailHelp" class="form-text text-muted">Muut käyttäjät voivat ottaa sinuun yhteyttä sähköpostitse.</small>
                <span asp-validation-for="Sahkoposti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postinumero" class="control-label"></label>
                <input asp-for="Postinumero" class="form-control" />
                <span asp-validation-for="Postinumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
